In [1]:
import pandas as pd 
df = pd.read_csv("C:/Users/Prasad/Downloads/car_price.csv")
df

   Year   Mileage  EngineSize  FuelType Transmission  Seats  Price
0  2018   65200.0      1800.0    Petrol       Manual    5.0    6.5
1  2012  124500.0      2200.0    Diesel    Automatic    7.0    5.2
2  2020   38000.0         NaN    Petrol       Manual    5.0    8.7
3  2015       NaN      2000.0    Diesel    Automatic    5.0    7.1
4  2019   58000.0      1600.0    Petrol       Manual    4.0    6.9
5  2011  139000.0      2500.0    Diesel       Manual    7.0    4.5
6  2022   12000.0      3000.0  Electric    Automatic    NaN   15.8
7  2016   72000.0      1800.0    Petrol       Manual    5.0    6.0
8  2013   98000.0      2000.0    Diesel          NaN    5.0    5.7
9  2017   45000.0      1500.0    Petrol    Automatic    5.0    7.8

In [2]:
df.head()

   Year   Mileage  EngineSize FuelType Transmission  Seats  Price
0  2018   65200.0      1800.0   Petrol       Manual    5.0    6.5
1  2012  124500.0      2200.0   Diesel    Automatic    7.0    5.2
2  2020   38000.0         NaN   Petrol       Manual    5.0    8.7
3  2015       NaN      2000.0   Diesel    Automatic    5.0    7.1
4  2019   58000.0      1600.0   Petrol       Manual    4.0    6.9

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          10 non-null     int64
 1   Mileage       9 non-null      float64
 2   EngineSize    9 non-null      float64
 3   FuelType      10 non-null     object
 4   Transmission  9 non-null      object
 5   Seats         9 non-null      float64
 6   Price         10 non-null     float64
dtypes: float64(4), int64(1), object(2)
memory usage: 692.0+ bytes

In [4]:
df.describe()

              Year        Mileage   EngineSize     Seats      Price
count    10.000000       9.000000     9.000000  9.000000  10.000000
mean   2016.300000   72411.111111  2044.444444  5.333333   7.420000
std       3.591657   41302.192570   469.337595  1.000000   3.191238
min    2011.000000   12000.000000  1500.000000  4.000000   4.500000
25%    2013.500000   45000.000000  1800.000000  5.000000   5.775000
50%    2016.500000   65200.000000  2000.000000  5.000000   6.700000
75%    2018.750000   98000.000000  2200.000000  5.000000   7.625000
max    2022.000000  139000.000000  3000.000000  7.000000  15.800000

In [5]:
df.isnull().sum()

Year            0
Mileage         1
EngineSize      1
FuelType        0
Transmission    1
Seats           1
Price           0
dtype: int64

In [ ]:
# Data Handling 

# Which columns numeric / categorical
num_cols = ['Year','Mileage','EngineSize','Seats']
cat_cols = ['FuelType','Transmission']

# Impute numeric with median
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='median')
df[num_cols] = num_imputer.fit_transform(df[num_cols])

# Impute categorical with most frequent
cat_imputer = SimpleImputer(strategy='most_frequent')
df[cat_cols] = cat_imputer.fit_transform(df[cat_cols])
df

     Year   Mileage  EngineSize  FuelType Transmission  Seats  Price
0  2018.0   65200.0      1800.0    Petrol       Manual    5.0    6.5
1  2012.0  124500.0      2200.0    Diesel    Automatic    7.0    5.2
2  2020.0   38000.0      2000.0    Petrol       Manual    5.0    8.7
3  2015.0   65200.0      2000.0    Diesel    Automatic    5.0    7.1
4  2019.0   58000.0      1600.0    Petrol       Manual    4.0    6.9
5  2011.0  139000.0      2500.0    Diesel       Manual    7.0    4.5
6  2022.0   12000.0      3000.0  Electric    Automatic    5.0   15.8
7  2016.0   72000.0      1800.0    Petrol       Manual    5.0    6.0
8  2013.0   98000.0      2000.0    Diesel       Manual    5.0    5.7
9  2017.0   45000.0      1500.0    Petrol    Automatic    5.0    7.8

In [11]:
# feature enginerring 
current_year=2025
df['CarAge'] = current_year - df['Year']

In [13]:
# If needed for other models:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numeric_for_scaling = ['Mileage','EngineSize','Seats','CarAge']
df[numeric_for_scaling] = scaler.fit_transform(df[numeric_for_scaling])
df

,Year,Mileage,EngineSize,FuelType,Transmission,Seats,Price,CarAge
0,2018.0,-0.175381,-0.571429,Petrol,Manual,-0.333333,6.5,-0.498922
1,2012.0,1.427101,0.380952,Diesel,Automatic,1.888889,5.2,1.261980
2,2020.0,-0.910415,-0.095238,Petrol,Manual,-0.333333,8.7,-1.085889
3,2015.0,-0.175381,-0.095238,Diesel,Automatic,-0.333333,7.1,0.381529
4,2019.0,-0.369949,-1.047619,Petrol,Manual,-1.444444,6.9,-0.792406
5,2011.0,1.818939,1.095238,Diesel,Manual,1.888889,4.5,1.555463
6,2022.0,-1.613021,2.285714,Electric,Automatic,-0.333333,15.8,-1.672857
7,2016.0,0.008377,-0.571429,Petrol,Manual,-0.333333,6.0,0.088045
8,2013.0,0.710983,-0.095238,Diesel,Manual,-0.333333,5.7,0.968496
9,2017.0,-0.721252,-1.285714,Petrol,Automatic,-0.333333,7.8,-0.205439

In [26]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['FuelType'] = le.fit_transform(df['FuelType'])
df['Transmission'] = le.fit_transform(df['Transmission'])

In [27]:
from sklearn.model_selection import train_test_split 

X=df.drop(columns=['Price'])
y=df['Price']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [29]:
import numpy as np 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

# baseline tree
tree = DecisionTreeRegressor(random_state=42)
tree.fit(X_train, y_train)

# predict
y_pred = tree.predict(X_test)

# metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("Baseline Decision Tree")
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2:", r2)

Baseline Decision Tree
MAE: 0.9500000000000002
MSE: 0.9650000000000003
RMSE: 0.9823441352194252
R2: -14.440000000000005

In [ ]:
# using grid search cv
from sklearn.model_selection import GridSearchCV

param_grid={
    'max_depth':[None,3,5,7,10],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,4],
    'max_features':[None,'sqrt','log2'],
    'criterion':['mse','friedman_mse']

}
grid=GridSearchCV(DecisionTreeRegressor(random_state=42),param_grid,cv=3,scoring='neg_mean_squared_error',n_jobs=-1)
grid.fit(X_train,y_train)
best_tree=grid.best_estimator_

# evaliate best model on test 
y_pred_best=best_tree.predict(X_test)
print("MAE (best):", mean_absolute_error(y_test, y_pred_best))
print("RMSE (best):", np.sqrt(mean_squared_error(y_test, y_pred_best)))
print("R2 (best):", r2_score(y_test, y_pred_best))

MAE (best): 0.25
RMSE (best): 0.32015621187164256
R2 (best): -0.640000000000001

c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
405 fits failed out of a total of 810.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
47 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'poisson', 'friedman_mse', 'squared_error', 'absolute_error'}. Got 'mse' instead.

--------------------------------------------------------------------------------
46 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'squared_error', 'poisson', 'absolute_error', 'friedman_mse'}. Got 'mse' instead.

--------------------------------------------------------------------------------
46 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'poisson', 'absolute_error', 'squared_error', 'friedman_mse'}. Got 'mse' instead.

--------------------------------------------------------------------------------
46 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'friedman_mse', 'poisson', 'squared_error', 'absolute_error'}. Got 'mse' instead.

--------------------------------------------------------------------------------
62 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'squared_error', 'absolute_error', 'friedman_mse', 'poisson'}. Got 'mse' instead.

--------------------------------------------------------------------------------
51 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'squared_error', 'friedman_mse', 'poisson', 'absolute_error'}. Got 'mse' instead.

--------------------------------------------------------------------------------
46 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'friedman_mse', 'absolute_error', 'squared_error', 'poisson'}. Got 'mse' instead.

--------------------------------------------------------------------------------
61 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'absolute_error', 'poisson', 'squared_error', 'friedman_mse'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Python312\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [         nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
          nan          nan          nan          nan          nan
 -12.70944444 -12.46065972 -18.4587037  -13.83654321 -13.47706404
 -18.4587037  -18.4587037  -18.4587037  -18.4587037  -15.33555556
 -19.67670139 -18.4587037  -15.08574074 -17.13626157 -18.4587037
 -18.4587037  -18.4587037  -18.4587037  -15.33555556 -19.67670139
 -18.4587037  -15.08574074 -17.13626157 -18.4587037  -18.4587037
 -18.4587037  -18.4587037  -12.77472222 -12.46065972 -18.4587037
 -13.83654321 -13.47706404 -18.4587037  -18.4587037  -18.4587037
 -18.4587037  -15.44388889 -19.67670139 -18.4587037  -15.08574074
 -17.13626157 -18.4587037  -18.4587037  -18.4587037  -18.4587037
 -15.44388889 -19.67670139 -18.4587037  -15.08574074 -17.13626157
 -18.4587037  -18.4587037  -18.4587037  -18.4587037  -12.70944444
 -12.46065972 -18.4587037  -13.83654321 -13.47706404 -18.4587037
 -18.4587037  -18.4587037  -18.4587037  -15.33555556 -19.67670139
 -18.4587037  -15.08574074 -17.13626157 -18.4587037  -18.4587037
 -18.4587037  -18.4587037  -15.33555556 -19.67670139 -18.4587037
 -15.08574074 -17.13626157 -18.4587037  -18.4587037  -18.4587037
 -18.4587037  -12.70944444 -12.46065972 -18.4587037  -13.83654321
 -13.47706404 -18.4587037  -18.4587037  -18.4587037  -18.4587037
 -15.33555556 -19.67670139 -18.4587037  -15.08574074 -17.13626157
 -18.4587037  -18.4587037  -18.4587037  -18.4587037  -15.33555556
 -19.67670139 -18.4587037  -15.08574074 -17.13626157 -18.4587037
 -18.4587037  -18.4587037  -18.4587037  -12.70944444 -12.46065972
 -18.4587037  -13.83654321 -13.47706404 -18.4587037  -18.4587037
 -18.4587037  -18.4587037  -15.33555556 -19.67670139 -18.4587037
 -15.08574074 -17.13626157 -18.4587037  -18.4587037  -18.4587037
 -18.4587037  -15.33555556 -19.67670139 -18.4587037  -15.08574074
 -17.13626157 -18.4587037  -18.4587037  -18.4587037  -18.4587037 ]
  warnings.warn(

: