Objective: Predict house prices based on the house size (in square feet) using linear regression.

In [1]:
import pandas as pd 

# loading the dataset 
df=pd.read_csv("C:/Users/Prasad/Downloads/house_price_single_feature.csv")
df

    Size_sqft   Price
0        1360  192433
1        1794  260116
2        1630  248397
3        1595  221862
4        2138  324183
5        2669  397509
6         966  139441
7        1738  276620
8         830  131031
9        1982  278885
10       2635  379193
11       3419  516789
12        630   93957
13       2185  308771
14       1269  182003
15       2891  427067
16       2015  291942
17       3353  489823
18       2933  425625
19       1715  237411
20       1455  235315
21       2824  430157
22       1684  266363
23        959  156456
24        521   69684
25       2800  429127
26       1247  192901
27       3404  491616
28        974  150353
29       1582  241576
30       3058  461947
31       2547  386350
32       3247  475579
33       1475  218512
34       2306  335168
35        689  104621
36       3234  477285
37       1062  160543
38       2399  378949
39       1767  253621
40       3379  526826
41       2028  322244
42       1146  154468
43       2568  367227
44       3388  490895
45       2714  392358
46       1797  271552
47       2935  459754
48       1100  178159
49       2863  423436

In [7]:
# data cleaning 
df.isnull().sum()

df.duplicated().sum()
# if any duplicates are present just drop 
df=df.drop_duplicates()

In [8]:
# spiltting the dataset 
from sklearn.model_selection import train_test_split

X = df[['Size_sqft']]
y = df['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# approch 1 without feature scalling 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Predictions
y_pred = lr.predict(X_test)

# Evaluation
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r2)

MAE: 11514.675611422183
MSE: 149229257.46278942
RMSE: 12215.942757838604
R2 Score: 0.9887913482434763

In [ ]:
# approch 2
# using pipeline to check which is which best model 
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

# pipeline for polynomial regression 
pipeline=Pipeline([('poly',PolynomialFeatures()),
                    ('lr',LinearRegression())])

params={
    'poly__degree':[1,2,3,4]
}
grid=GridSearchCV(pipeline,params)
grid.fit(X_train,y_train)

print('best degree',grid.best_params_)
best_model=grid.best_estimator_
y_pred_best=best_model.predict(X_test)

print('r2 score after tuning',r2_score(y_test,y_pred_best))

best degree {'poly__degree': 1}
r2 score after tuning 0.9887913482434763

In [ ]:
# approch 3 using feature scalling 
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(df[['Size_sqft']])

In [19]:
from sklearn.model_selection import train_test_split

y = df['Price']
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Predictions
y_pred = lr.predict(X_test)

# Evaluation
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r2)

MAE: 11514.675611422188
MSE: 149229257.4627895
RMSE: 12215.942757838608
R2 Score: 0.9887913482434763