In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("C:/Users/Prasad/Downloads/car_price_regularization.csv")
df.head()

   Mileage  Age  EngineSize     Price
0   126958    5        3143  235006.4
1   151867    9        1137   86127.6
2   136932    7        1678  151942.6
3   108694    2        1876  246786.2
4   124879    4        1591  192098.2

In [2]:
print(df.isnull().sum())     # Missing values
print(df.duplicated().sum()) # Duplicates

# Drop duplicates if any
df = df.drop_duplicates()

Mileage       0
Age           0
EngineSize    0
Price         0
dtype: int64
0

In [5]:
# feature engineering 
df['Price_per_km'] = df['Price'] / df['Mileage']
bins = [0, 3, 7, 15]   # age groups: 0–3 (new), 4–7 (mid), 8+ (old)
labels = ['New', 'MidAge', 'Old']
df['Age_Category'] = pd.cut(df['Age'], bins=bins, labels=labels)
df

    Mileage  Age  EngineSize     Price  Price_per_km Age_Category
0    126958    5        3143  235006.4      1.851056       MidAge
1    151867    9        1137   86127.6      0.567125          Old
2    136932    7        1678  151942.6      1.109621       MidAge
3    108694    2        1876  246786.2      2.270468          New
4    124879    4        1591  192098.2      1.538275       MidAge
5    115268    9        3064  223019.4      1.934790          Old
6     59886   12        1563  181106.8      3.024193          Old
7    142337   14        3035  127319.6      0.894494          Old
8    173266    2        1179  112708.8      0.650496          New
9     92498   10        1292  167429.4      1.810087          Old
10   117727    9        1980  163925.6      1.392421          Old
11   131324   10        2862  175425.2      1.335820          Old
12   180203    5         864   84846.4      0.470838       MidAge
13   196335    2        3368  215097.0      1.095561          New
14    21023    4        2167  325815.4     15.498045       MidAge
15    46090   12        1952  231759.0      5.028401          Old
16    72221   12        2827  244407.8      3.384165          Old
17    69820    7        3495  304593.0      4.362547       MidAge
18     5769   12        2295  293766.2     50.921512          Old
19    64735   13        1962  192252.0      2.969831          Old
20   199027    8        2322   95314.6      0.478903          Old
21    69925    3        3440  364195.0      5.208366          New
22    10311   14        1191  197406.8     19.145262          Old
23   108355    1        2498  280581.0      2.589461          New
24   189779    4        1218   95141.2      0.501326       MidAge
25    90305    2        3136  332210.0      3.678755          New
26   164765    8        1178   91262.0      0.553892          Old
27   135608    4        2596  208376.4      1.536608       MidAge
28   161730    2        3078  226600.0      1.401101          New
29    89478   14        2888  204277.4      2.282990          Old
30   127537    6        2982  225529.6      1.768346       MidAge
31   154503    6        1000  106555.4      0.689666       MidAge
32   135523   10        2663  156052.4      1.151483          Old
33     7747    4        1579  338973.6     43.755467       MidAge
34   128855    6        1302  134222.0      1.041651       MidAge
35   195222   13        3254  110401.6      0.565518          Old
36    70725    2        2551  335242.0      4.740078          New
37   134981   10        1604  111767.8      0.828026          Old
38    89654   12        2946  200378.2      2.235017          Old
39   171845    2        2695  223302.0      1.299438          New
40   124346   10        2370  157278.8      1.264848          Old
41    72435   14        1760  169099.0      2.334493          Old
42    61886    4        3460  369039.8      5.963219       MidAge
43    71803   14        2285  171390.4      2.386953          Old
44    36551    8        3490  369991.8     10.122618          Old
45   121216   14        1828  103615.8      0.854803          Old
46    16394    7        1302  279365.2     17.040698       MidAge
47    74092   12        1197  154603.6      2.086644          Old
48     8890    9        1670  264468.0     29.748931          Old
49    46606   14        1192  163752.8      3.513556          Old

In [12]:
from sklearn.preprocessing import StandardScaler

X=df[['Mileage','Age','EngineSize']]
y=df['Price']

scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42
)

In [15]:
from sklearn.linear_model import LinearRegression, Ridge,Lasso 
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
import numpy as np 

models={ 
    "linear":LinearRegression(),
    'ridge':Ridge(alpha=1.0),
    'lasso':Lasso(alpha=0.1)
}

for name,model in models.items():
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)

    mae=mean_absolute_error(y_test,y_pred)
    rmse=np.sqrt(mean_squared_error(y_test,y_pred))
    r2=r2_score(y_test,y_pred)

    print(f'{name} Regression')
    print('mae',mae)
    print('rmse',rmse)
    print('r2 score',r2)

linear Regression
mae 10510.337580548412
rmse 12567.705455357232
r2 score 0.9717591291305512
ridge Regression
mae 10318.13464973359
rmse 11810.014789069613
r2 score 0.9750616922271241
lasso Regression
mae 10510.337699109543
rmse 12567.649968334372
r2 score 0.9717593784996017

In [ ]:
# hyperparameter tuning 
from sklearn.model_selection import GridSearchCV

ridge=Ridge()
params_ridge={'alpha':[0.01,0.1,1,10,100]}
grid_ridge=GridSearchCV(ridge,params_ridge,cv=5,scoring='r2')
grid_ridge.fit(X_train,y_train)

print('best ridge alpha',grid_ridge.best_params)
print('best ridge r2',grid_ridge.best_score_)

lasso=Lasso(max_iter=5000)
params_lasso={'alpha':[0.01,0.1,1,10,100]}
grid_lasso=GridSearch(lasso,params_lasso,cv=5,scoring='r2')
grid_lasso.fit(X_train,y_train)
print('best lasso alpha',grid_lasso.best_params_)
print('best lasso r2',grid_lasso.best_score_)